body {
  height: 900px;
     background-color: #cccccc;
     background-image: radial-gradient(white,yellow);
}

div {
  /* background-color: red; */
  /* background-color: #4aa1e6; */
  color : black;
  margin : auto;
  width : 90%;
}
.navbar{
    background-color: green;
}

#div-bg{
  background-color: green;
}

#salt{
  background-color: green;

}

#bgcc{
  background-color: green;
}



#right{
  color: white;

}

#yoyo{
  color: white;
}

#badfish{
color:green;

}

#main-slider .item {
  height: 600px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  /* background-size: cover; */
}


 .lets{
    background-color: #4aa1e6;
    width: 330px;
    height: 110px;
    overflow: auto;
}
